asgiref==3.7.2
autopep8==1.4.4
distlib==0.3.7
Django==4.2.7
filelock==3.13.1
mysql-connector==2.2.9
mysql-connector-python==8.2.0
pep8==1.7.1
platformdirs==3.11.0
protobuf==4.21.12
pycodestyle==2.5.0
pytz==2018.5
sqlparse==0.4.1
tzdata==2023.3
virtualenv==20.24.6
